<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                    <resource id="Mymodule_Test::all" title="MymoduleTest All" translate="title" sortOrder="30" >
                        <resource
                                id="Mymodule_Test::create"
                                title="Link Create"
                                translate="title"
                                sortOrder="20"
                        />
                        <resource
                                id="Mymodule_Test::delete"
                                title="Link Delete"
                                translate="title"
                                sortOrder="17"
                        />
                        <resource
                                id="Mymodule_Test::edit"
                                title="Link Edit"
                                translate="title"
                                sortOrder="15"
                        />
                        <resource
                                id="Mymodule_Test::inline"
                                title="Link Change Satatus"
                                translate="title"
                                sortOrder="12"
                        />
                </resource>
                </resource>
        </resources>
    </acl>
</config>