<?xml version="1.0"?>


<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mymodule\Test\Api\Links\LinkInterface"
                type="Mymodule\Test\Model\Link" />

    <preference for="Mymodule\Test\Api\LinkRepositoryInterface"
                type="Mymodule\Test\Model\LinkRepository" />

    <preference for="Mymodule\Test\Api\Data\LinkSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />


    <preference for="Mymodule\Test\Api\Bunch\BunchInterface"
                type="Mymodule\Test\Model\Bunch" />

    <preference for="Mymodule\Test\Api\BunchRepositoryInterface"
                type="Mymodule\Test\Model\BunchRepository" />

    <preference for="Mymodule\Test\Api\Data\BunchSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />


    <virtualType name="Magento\Cms\Model\ResourceModel\Page\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cms_page</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Cms\Model\ResourceModel\Page</argument>
        </arguments>
    </virtualType>



    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item
                        name="link_grid_listing_data_source"
                        xsi:type="string"
                >Mymodule\Test\Model\ResourceModel\Link\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item
                        name="bunch_grid_listing_data_source"
                        xsi:type="string"
                >Mymodule\Test\Model\ResourceModel\Bunch\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

</config>
